<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adivina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adivina">
        <activity android:name="examenOrdinario.MainActivityOrdinario"></activity>
        <activity android:name=".ListadoActividad2" />
        <activity android:name=".U12000_ListaDeElementos" />
        <activity android:name=".ListadoActividad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GolActividad" />
        <activity android:name=".LogActividad" />
        <activity android:name=".Permisos2" />
        <activity android:name=".Permisos" />
        <activity android:name=".Calculadora3" />
        <activity android:name=".Calculadora2" />
        <activity android:name=".Calculadora1" />
        <activity android:name=".Hamburguesa2" />
        <activity android:name=".Hamburguesa" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>